@media(max-width:769px){
	.container{
		max-width:100%
	}
}
@media(min-width:768px){
	.container{
		max-width:50%
	}
}

.container{
	text-align: center;
	background-color: #f9f9f9;
	padding:24px;
}

	.container .JumboCatImg{
		max-width:100%;
		max-height:40vh;
		margin-bottom:24px;
	}

	.container button {
	    float: right;
	    clear: both;
	    min-width: 80px;
	    margin-bottom: 6px;
	    margin-left: 10px;
	}

	.container button.btn-info{
		float:none;
		display: inline-block;
	}

	.container .catshowcase{
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    flex-wrap:wrap;
	}
	
		.container .showcase{
			max-height:100px;
			margin-top:12px;
			margin-bottom:12px;
		}

	